
*{
    font-family: monteserrat;
    margin: 0px;
    padding: 0px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.divHeader{
    background-color: #eefcf5;
}
.start{
   background-image: url(images/hero-cover.png);
   background-size: cover;
   background-position: center;
   position: relative;
   height: 100vh;
}
.homeContent{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-45%, -45%);
    color: #ffffff;
    

}
.checked {
    color: orange;
  }

.homeContent button{
    border-radius: 12px;
    color: #ffffff;
    padding: 20px;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.lnav {
    display: flex;
    align-items: center;
    color: #ffffff;
}
.homeContentWhite{
    background-color: transparent;
}

.startFloat{
    display: flex;
    position: relative;
    margin-top: -76px;
    box-sizing: border-box;
    justify-content: center;
        
}
.color{
    background-color: #23A6F0;
}

.colorWhite{
    background-color: #ffffff;
}
.user1{
    border-radius: 5px;
    box-shadow: black;
    text-align: center;
    padding: 20px; 
    margin: 20px;   
}

.navigation-bar{
    display: flex;
    padding: 10px;
}
.navigation-bar ul{
    text-align: center;
    vertical-align:top;   

}
.navigation-bar li{
    list-style-type: none;
    padding: 0px;
    margin: 10px;
    display: inline;

}


  button{
      background-color: #23A6F0;
      padding: 15px;
  }
  .pricing{
      text-align: center;
      margin: 30px;
      padding: 20px;
  }
  .pricingImages{
      display: flex;
  }
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #23A6F0;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;   

  }
  
  .price .header {
    font-size: 25px;
  }
  
  
  .price li {
    padding: 20px;
    text-align: center;
  }
  

  .price .grey {
    font-size: 20px;
    color: #23A6F0;
  }
  
  .button {
    background-color: #23A6F0;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 400px) {
    .columns {
      width: 100%;
      flex: 100%;
      margin-left: 400px;
      color: #23A6F0;
    }
  }
  .industry{
      text-align: center;
      margin: 30px;
  }
  .blue{
      color: #ffffff;
  }
  
.product{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px;
    
}

.cards{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
      
}
.user{
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    padding: 5px; 
    margin: 20px;   
}

  .vectors{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 30px;
  }

  .vectors img{
      height: 10%;
      width: 10%;
      padding-left: 40px;
  }

  .subscribe{
      display: flex;
      justify-content: space-between;
      padding: 50px;
      background:linear-gradient(75deg, rgba(50, 9, 233, 0.884), rgb(255, 0, 98));
      
  }

  .blueStart{
    background-color: #252b42;
  }
  .blueFlex{
      display: flex;
  }
  .blue{
    
    
    text-align: center;
}
.formOne{
    background-color: #ffffff;

}
.insideBlue{
    
    display: flex;
    position: relative;
    margin-top: -50px;
    align-content: center;
    width: 60%;
    padding-right: 100px;
    padding-left: 300px;
    
    
}

.insideBlue img{
    height: 600px;
}

.contactUs{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 50px;
    
}

footer li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.start a:hover {
    background-color: #23A6F0;
  }

footer a{
    color: #000000;
}
footer a:hover {
    background-color: #23A6F0;
  }

  input{
      padding: 10px;
      width: 250px;
  }
  select{
      padding: 10px;
      width: 270px;
  }
  .booking{
      width: 270px;
  }
  .bookingHeader{
      text-align: center;
  }
  .blue{
      height: 400px;
  }
  .blueLeft{
      margin: 50px;
      text-align: center;
      align-items: center;
  }
  .columnsMiddle{
      background-color: #252b42;
  }