
.home{
   background-image: url(images/hero-cover.png);
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   height: 100vh;
}
.homeContent{
    text-align: center;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 40%;
    transform:stranslate(-45%, -45%);
    

}

/* .navigation-bar h1{
    float: left;
}

.navigation-bar ul{
    float: right;
} */
.navigation-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    
    
}

.navigation-bar ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    
    display: inline;
    
  }
  button{
      background-color: #6ca6c7;
  }
  .vectors{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .subscribe{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background:linear-gradient(75deg, rgba(50, 9, 233, 0.884) 50% , rgb(255, 0, 98) 50% );
  }

  .blue{
    background-color: midnightblue;
    display: flex;
}

.insideBlue{
    background-color: #ffffff;
    display: flex;
}


footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer li{
    list-style: none;
}
